.control {
  width: 90%;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    padding: 1rem 0;
    margin: .5rem 0;
    width: 100%;
    height: 1.5rem;
    background: #ffffff00;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
    &:focus {
      outline: none;
    }
  }

  .info__text--p {
    margin: 0;
    font-size: 1.1rem;
    text-align: end;

    &.success { color: $success; }
    &.danger { color: $danger; }
    &.info { color: $info; }

  }

}

