.questionSelectorItem {
  text-align: center;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: $white_card;
  margin: 0.25rem;
  display: flex;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: solid 2px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.questionIsSelected {
  background-color: $primary;
  border-color: $primary;
  color: white;
}

.questionIsCorrect {
  background-color: $success;
  border-color: $success;
  color: white;
}

.questionIsWrong {
  background-color: $danger;
  border-color: $danger;
  color: white;
}

.questionSelectorContainer {
  text-align: center;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: $white_card;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  span {
    font-size: medium;
    padding-right: 1rem;
  }
}
