.button {
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: calc(10px + 2vmin);
  min-height: 2.5rem;

  &.is-primary {
    background: $primary;
    border: 1px solid darken($color: $primary, $amount: 10);
  }
  &.is-secondary {
    background: $secondary;
    border: 1px solid darken($color: $secondary, $amount: 10);  }

  &.is-info {
    background: lighten($color: $info, $amount: 15);
    border: 1px solid lighten($color: $info, $amount: 15);  }

}