.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: $primary;
  background-image: url('../assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 120vh;
}

.App-link {
  color: #61dafb;
}
