

$primary: #5c62c1;
$secondary: #c15c95;
$acent: #5c95c1;
$success: #459b37;
$danger: #ba2b2b;
$info: #b3831e;

$white_card: #e8e8e8;
$font-color: darken($color: $primary, $amount: 10);
$font-poppins: 'Poppins', sans-serif;


* {
  color: $font-color;
  font-family: $font-poppins;
}

body{
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import 'App.scss';
@import 'questionView.scss';
@import 'components/card.scss';
@import 'components/login.scss';
@import 'components/navbar.scss';
@import 'components/ItemAnswer.scss';
@import 'canvas/button.scss';
@import 'flex.scss';
@import 'components/questionSelector.scss';
