
.section__question {
  margin: 1rem;

  .section_question--title p {
    margin: 0 1rem;
  }

  .section_question--feedback {
    margin: .5rem 1rem .5rem 1rem;
    font-size: 1.1rem;
    font-weight: 200;
    background: #e0e0e0;
    padding: 0.5rem;
    border-radius: 7px;
  }

  .section__question--buttons {
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
  }

}
